
<form #f="ngForm" (ngSubmit)="submit(f.value)">
  <p mat-dialog-title style="font-size: 150%;">Change Password</p>

  <mat-dialog-content>
    <ng-container *ngIf="loader.loaderVisible then load; else show"></ng-container>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      type="submit"
      class="btn-primary btn-sm btn"
      [class.magnifyText]="(!loader.loaderVisible) || f.valid"
      [disabled]="loader.loaderVisible || (confirmPass !== pass)">
      Change
    </button>

    <button
      type="button"
      class="btn-outline-primary btn-sm btn ml-2"
      [class.magnifyText]="!loader.loaderVisible"
      [disabled]="loader.loaderVisible"
      *ngIf="!firstLogin"
      matDialogClose>
      Cancel
    </button>
  </mat-dialog-actions>

  <ng-template #show>
    <div class="form-group">
      <label for="currentPassword" [class.text-danger]="currentPassword.touched && currentPassword.invalid">Current Password</label>
      <input
        type="password"
        id="currentPassword"
        class="form-control form-control-sm"
        [class.error-control]="currentPassword.touched && currentPassword.invalid"
        name="currentPassword"
        [(ngModel)]="currentPass"
        #currentPassword="ngModel"
        minlength="5"
        maxlength="128"
        required>

        <div class="text-danger mt-1" *ngIf="currentPassword.touched && currentPassword.invalid">
          <div *ngIf="currentPassword.errors.required">
            This field is required.
          </div>
          <div *ngIf="currentPassword.errors.minlength">
            Password must be minimum {{ currentPassword.errors.minlength.requiredLength }} characters.
          </div>
          <div *ngIf="currentPassword.errors.maxlength">
            Password must be maximum {{ currentPassword.errors.maxlength.requiredLength }} characters.
          </div>
        </div>
    </div>

    <div class="form-group">
      <label for="password" [class.text-danger]="password.touched && password.invalid">New Password</label>
      <input
        type="password"
        id="password"
        class="form-control form-control-sm"
        [class.error-control]="password.touched && password.invalid"
        name="password"
        [(ngModel)]="pass"
        #password="ngModel"
        minlength="5"
        maxlength="128"
        required>

        <div class="text-danger mt-1" *ngIf="password.touched && password.invalid">
          <div *ngIf="password.errors.required">
            This field is required.
          </div>
          <div *ngIf="password.errors.minlength">
            Password must be minimum {{ password.errors.minlength.requiredLength }} characters.
          </div>
          <div *ngIf="password.errors.maxlength">
            Password must be maximum {{ password.errors.maxlength.requiredLength }} characters.
          </div>
        </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword" [class.text-danger]="confirmPassword.touched && confirmPassword.invalid">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        class="form-control form-control-sm"
        [class.error-control]="confirmPassword.touched && confirmPassword.invalid"
        name="confirmPassword"
        [(ngModel)]="confirmPass"
        #confirmPassword="ngModel"
        minlength="5"
        maxlength="128"
        required>

        <div class="text-danger mt-1" *ngIf="confirmPassword.touched && confirmPassword.invalid">
          <div *ngIf="confirmPassword.errors.required">
            This field is required.
          </div>
          <div *ngIf="confirmPassword.errors.minlength">
            Password must be minimum {{ confirmPassword.errors.minlength.requiredLength }} characters.
          </div>
          <div *ngIf="confirmPassword.errors.maxlength">
            Password must be maximum {{ confirmPassword.errors.maxlength.requiredLength }} characters.
          </div>
        </div>
    </div>

    <div class="form-group mx-auto text-danger mt-1" *ngIf="(confirmPassword.value !== password.value) && password.touched && confirmPassword.touched">
      <label>Passwords must be the same.</label>
    </div>
  </ng-template>

  <ng-template #load>
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-2">
      <p class="text-primary" style="letter-spacing: 0.1rem;">
        <ng-content></ng-content>
      </p>
    </div>
  </ng-template>
</form>
