
<table id="excel-table" hidden>
  <tr>
    <th>sn</th>
    <th>Full name</th>
    <th>Sex</th>
    <th>Marital Status</th>
    <th>State of Origin</th>
    <th>LGA of Origin</th>
    <th>Date of Birth</th>
    <th>Home Address</th>
    <th>Phone</th>
    <th></th>
    <th>Occupation</th>
    <th>Profession</th>
    <th>Office</th>
    <th>Office Address</th>
    <th></th>
    <!-- <th>Hajj Experience</th>
    <th>Last Hajj Year</th>
    <th>Enrollment Zone</th>
    <th>Registration Code</th>
    <th>Registration Year</th> -->
    <th></th>
    <th>Next of Kin</th>
    <th>Next of Kin Address</th>
    <th>Next of Kin Phone</th>
    <th>Next of Kin Relationship</th>
    <th></th>
    <th>Passport Type</th>
    <th>Passport Number</th>
    <th>Passport Place of Issue</th>
    <th>Passport Date of Issue</th>
    <th>Passport Expiry Date</th>
    <th></th>
    <!-- <th>Payment History</th> -->
  </tr>
  <tr *ngFor="let p of pilgrims; let i=index">
    <td>{{ i+1 }}</td>
    <td>{{ p.personalDetails.surname +' '+ p.personalDetails.otherNames }}</td>
    <td>{{ p.personalDetails.sex }}</td>
    <td>{{ p.personalDetails.maritalStatus }}</td>
    <td>{{ p.personalDetails.stateOfOrigin.name }}</td>
    <td>{{ p.personalDetails.localGovOfOrigin.name }}</td>
    <td>{{ p.personalDetails.dateOfBirth | date: 'shortDate' }}</td>
    <td>{{ p.personalDetails.homeAddress }}</td>
    <td>{{ p.personalDetails.phone }}</td>
    <td></td>
    <td>{{ p.officeDetails.occupation }}</td>
    <td>{{ p.officeDetails.profession }}</td>
    <td>{{ p.officeDetails.placeOfWork }}</td>
    <td>{{ p.officeDetails.officeAddress }}</td>
    <td></td>
    <!-- <td>{{ p.enrollmentDetails.hajjExperience }}</td>
    <td>{{ p.enrollmentDetails.lastHajjYear }}</td>
    <td>{{ p.enrollmentDetails.enrollmentZone.name }}</td>
    <td>{{ p.enrollmentDetails.code }}</td>
    <td>{{ p.enrollmentDetails.enrollmentYear.year }}</td> -->
    <td></td>
    <td>{{ p.nextOfKinDetails.fullName }}</td>
    <td>{{ p.nextOfKinDetails.address }}</td>
    <td>{{ p.nextOfKinDetails.phone }}</td>
    <td>{{ p.nextOfKinDetails.relationship }}</td>
    <td></td>
    <td>{{ p.passportDetails.passportType }}</td>
    <td>{{ p.passportDetails.passportNumber }}</td>
    <td>{{ p.passportDetails.placeOfIssue }}</td>
    <td>{{ p.passportDetails.dateOfIssue | date: 'shortDate' }}</td>
    <td>{{ p.passportDetails.expiryDate | date: 'shortDate' }}</td>
    <td></td>
    <!-- <td>
      <ul *ngFor="let ph of p.paymentHistory">
        {{ '{'}}
        <li>Bank: {{ ph.bankObject?.name }},&nbsp;&nbsp;<br /></li>
        <li>Teller: {{ ph.tellerNumber }},&nbsp;&nbsp;<br /></li>
        <li>Receipt: {{ ph.receiptNumber }},&nbsp;&nbsp;<br /></li>
        <li>Date: {{ ph.paymentDate | date: 'shortDate' }},&nbsp;&nbsp;<br /></li>
        <li>Amount: {{ ph.amount | currency: 'NGN': 'symbol-narrow' }}&nbsp;&nbsp;<br /></li>
        {{ '}'}}
      </ul>
    </td> -->
  </tr>
</table>
