<nav class="page-breadcrumb">
  <ol class="breadcrumb" style="font-size: 150%;">
    <li class="breadcrumb-item"><a class="text-primary">Banks</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Banks</li>
  </ol>
</nav>


<div class="col-12" style="text-align: center;">
  <div class="btn-group mb-4" role="group">
    <button
      type="button"
      [disabled]="loader.loaderVisible"
      [class.btn-active]="active === 'active'"
      class="magnifyText btn btn-primary"
      (click)="tabClick('active')">
      Active
    </button>
    <button
      type="button"
      [disabled]="loader.loaderVisible"
      [class.btn-active]="active === 'inactive'"
      class="magnifyText btn btn-primary"
      (click)="tabClick('inactive')">
      Inactive
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body" style="overflow-x: auto;">
        <h6 class="card-title">BANKS MASTER LIST</h6>

        <button
          class="btn btn-success mb-4"
          [class.magnifyText]="!loader.loaderVisible"
          [disabled]="loader.loaderVisible"
          (click)="editBank()">
          <span>Add New Bank</span>
        </button>


        <input
          type="search"
          name="search"
          [(ngModel)]="searchText"
          class="form-control col-sm-12 col-md-3 float-right mb-3"
          placeholder="Search">

        <div class="table-responsive" style="overflow-y: hidden!important;">
          <table class="table">
            <ng-container *ngIf="loader.loaderVisible then load; else show"></ng-container>
          </table>

          <div class="col-12 mx-auto mt-3">
            <pagination-controls class="float-right"
              (pageChange) = "p = $event"
              maxSize="9"
              directionLinks="true"
              autoHide="true"
              responsive="true"
              previousLabel="Previous"
              nextLabel="Next"
              screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page"
              screenReaderCurrentLabel="You're on page">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #load>
  <thead>
    <tr>
      <td><app-loader>Fetching data...</app-loader></td>
    </tr>
  </thead>
</ng-template>

<ng-template #show>
  <ng-container *ngIf="banks.length > 0 then tableData; else noData"></ng-container>
</ng-template>

<ng-template #noData>
  <thead>
    <tr>
      <td>No record(s) to display</td>
    </tr>
  </thead>
</ng-template>

<ng-template #tableData>
  <thead>
    <tr>
      <th class="sort" scope="col" [appSort]="banks" data-order="desc" data-name="sn">S/N</th>
      <th class="sort" scope="col" [appSort]="banks" data-order="desc" data-name="name">Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody  *ngFor="let i=index; let bank of banks | filter: searchText | paginate: {itemsPerPage: 10, currentPage: p}">
    <tr>
      <td>{{ ((p-1) * 10) + (i+1) }}</td>
      <td>{{ bank.name }}</td>
      <td>
        <button
          type="button"
          class="btn magnifyText btn-outline-primary btn"
          (click)="editBank(bank)">
          Edit Bank
        </button>

        <button
          *ngIf="active === 'inactive'"
          class="btn btn-outline-success ml-4"
          [class.magnifyText]="!loader.loaderVisible"
          [disabled]="loader.loaderVisible"
          (click)="activateBank(bank)">
          <span>Activate</span>
        </button>


        <button
          *ngIf="active === 'active'"
          class="btn btn-danger ml-4"
          [class.magnifyText]="!loader.loaderVisible"
          [disabled]="loader.loaderVisible"
          (click)="deactivateBank(bank)">
          <span>Deactivate</span>
        </button>
      </td>
    </tr>
  </tbody>

</ng-template>
