<nav class="page-breadcrumb">
  <ol class="breadcrumb" style="font-size: 150%;">
    <li class="breadcrumb-item"><a class="text-primary">Pilgrims</a></li>
    <li class="breadcrumb-item active" aria-current="page">Registered Pilgrims</li>
  </ol>
</nav>


<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body" style="overflow-x: auto;">
        <h6 class="card-title">PILGRIMS MASTER LIST</h6>

        <input
          type="search"
          name="search"
          [(ngModel)]="searchText"
          class="form-control col-sm-12 col-md-3 float-right mb-4"
          placeholder="Search">

        <div class="table-responsive" style="overflow-y: hidden!important;">
          <table class="table">
            <ng-container *ngIf="loader.loaderVisible then load; else show"></ng-container>
          </table>

          <div class="col-12 mx-auto mt-3" *ngIf="pilgrims.length > 0">
            <div class="float-left">
              <select [(ngModel)]="pageSize" class="form-control" (change)="onPageSizeChange()">
                <option *ngFor="let page of pages" [value]="page">Show {{ page }} Items</option>
              </select>
            </div>

            <pagination-controls class="float-right"
              (pageChange) = "onNavigate($event)"
              maxSize="9"
              directionLinks="true"
              autoHide="true"
              responsive="true"
              previousLabel="Previous"
              nextLabel="Next"
              screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page"
              screenReaderCurrentLabel="You're on page">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #load>
  <thead>
    <tr style="font-weight: 600;">
      <td><app-loader>Fetching data...</app-loader></td>
    </tr>
  </thead>
</ng-template>

<ng-template #show>
  <ng-container *ngIf="pilgrims.length > 0 then tableData; else noData"></ng-container>
</ng-template>

<ng-template #noData>
  <thead>
    <tr>
      <td>No record(s) to display. <span *ngIf="yearId.value === ''">Select a year.</span></td>
    </tr>
  </thead>
</ng-template>

<ng-template #tableData>
  <thead>
    <tr>
      <th class="sort" scope="col" [appSort]="pilgrims" data-order="desc" data-name="sn">S/N</th>
      <th class="sort" scope="col" [appSort]="pilgrims" data-order="desc" data-name="name">Full Name</th>
      <th class="sort" scope="col" [appSort]="pilgrims" data-order="desc" data-name="gender">Gender</th>
      <th class="sort" scope="col" [appSort]="pilgrims" data-order="desc" data-name="phone">Phone</th>
      <th class="sort" scope="col" [appSort]="pilgrims" data-order="desc" data-name="emial">Email</th>
      <th class="sort" scope="col" [appSort]="pilgrims" data-order="desc" data-name="dateCreated">Registration Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody  *ngFor="let i=index; let pilgrim of pilgrims | filter: searchText | paginate: {itemsPerPage: pageSize, currentPage: p, totalItems: totalItems}">
    <tr>
      <td>{{ ((p - 1) * pageSize) + (i+1) }}</td>
      <td>{{ pilgrim.personalDetails.surname + ', ' + pilgrim.personalDetails.otherNames | uppercase }}</td>
      <td>{{ pilgrim.personalDetails.sex | uppercase }}</td>
      <td><b>{{ pilgrim.personalDetails.phone }}</b></td>
      <td>{{ pilgrim.personalDetails.email }}</td>
      <td>{{ pilgrim.dateCreated | date: 'medium' }}</td>
      <td>
          <button
          type="button"
          class="btn magnifyText btn-outline-primary btn mr-1"
          (click)="viewPilgrim(pilgrim)">
          View
        </button>
        <button 
            type="button"
            (click)="editPilgrim(pilgrim)"
            class="btn btn-success magnifyText mr-1">
            Edit
        </button>
        <!-- <button
          type="button"
          class="btn magnifyText btn-warning btn"
          (click)="migratePilgrim(pilgrim)">
          Migrate
        </button> -->
      </td>
    </tr>
  </tbody>

</ng-template>
