<div class="card-container" *ngIf="!loader.loaderVisible">
    <div class="card dc">
        <div class="card-body">
            All pilgrims registered<br><br>
            <h2 class="text-success">{{ overAllTotal }}</h2>
        </div>
    </div>

    <div class="card dc">
        <div class="card-body">
            Allocations registered this year<br><br>
            <h2 class="text-secondary">{{ totalThisYear }}</h2>
        </div>
    </div>
</div>
<div class="card-container" *ngIf="!loader.loaderVisible">
    <div class="card dc col-sm-6">
        <div class="card-body">
            Total Allocations registered<br><br>
            <h2 class="text-secondary">{{ total }}</h2>
        </div>
    </div>
    <div class="dc"></div>
</div>

<app-loader *ngIf="loader.loaderVisible"></app-loader>