
.inactive {
  background-color: #f2f2f2;
  color: #aaaaaa;
}

.active {
  background: #5a66f3;
  color: #FFFFFF;
  cursor: pointer
}

.current {
  background: darken($color: #5a66f3, $amount: 30);
  color: #FFFFFF;
  cursor: pointer
}

.step {
  padding: 0.3rem 1rem;
  border-radius: 3px;
  font-size: 90%;

  min-height: 2.8rem;
  width: 95%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inactive:hover {
  cursor: default!important;
}

.step:last-child {
  margin-top: .4rem;
  margin-bottom: 1rem;
}

.step:nth-child(2), .step:nth-child(3) {
  margin-bottom: .4rem;
}

.step:first-child {
  margin-bottom: .4rem;
}

