
.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}
.cardList > *:not(:last-child) {
  margin-right: 32px;
}
/* Item sizing */
.cardListItem {
  flex: 0 1 calc(25% - 32px);
  margin-bottom: .5rem;
  padding: .2rem!important;
  transition: .5s;
}

.cardListItem:hover {
  background-color: #10b759;

  * {
    color: white!important;
  }
  cursor: pointer;
}

.mat-dialog-title {
  display: inline-flex;
}
