<div class="card-container" *ngIf="!loader.loaderVisible">
    <div class="card dc">
        <div class="card-body">
            All pilgrims registered<br><br>
            <h2 class="text-success">{{ overAllTotal }}</h2>
        </div>
    </div>

    <div class="card dc">
        <div class="card-body">
            Allocations registered this year<br><br>
            <h2 class="text-secondary">{{ totalThisYear }}</h2>
        </div>
    </div>
</div>

<div class="card-container" *ngIf="!loader.loaderVisible">
    <div class="card dc col-sm-6">
        <div class="card-body">
            Total Allocations registered<br><br>
            <h2 class="text-success">{{ totalAllocations }}</h2>
        </div>
    </div>
</div>

<div class="card-container" *ngIf="!loader.loaderVisible">
    <div class="card dc">
        <div class="card-body">
            Total Allocations registered this year:<br><br>
            <div style="display: block;">
                <canvas baseChart chartType="bar" [datasets]="allAllocationsByYearCounts"
                    [labels]="allAllocationsByYearZones" [options]="chartOptions" [plugins]="chartPlugins"
                    [legend]="chartLegend">
                </canvas>
            </div>

        </div>
    </div>

    <div class="card dc">
        <div class="card-body">
            Total Allocations registered:<br><br>
            <div style="display: block;">
                <canvas baseChart chartType="bar" [datasets]="allAllocationsCounts" [labels]="allAllocationsZones"
                    [options]="chartOptions" [plugins]="chartPlugins" [legend]="chartLegend">
                </canvas>
            </div>

        </div>
    </div>
</div>

<app-loader *ngIf="loader.loaderVisible"></app-loader>