
.error-control {
  border: 1px solid rgb(255 51 102)!important;
}

.page-wrapper, .full-page {
  background: url('../../assets/images/login-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0,0,0, 0.4)!important; /* Black w/opacity/see-through */
}
