<form [formGroup]="hajjYearForm" (ngSubmit)="submit()">
  <p mat-dialog-title style="font-size: 150%;">Open New Hajj Year</p>

  <mat-dialog-content>
    <ng-container *ngIf="loader.loaderVisible then load; else show"></ng-container>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      type="submit"
      class="btn-success btn-sm btn"
      [class.magnifyText]="(!loader.loaderVisible) || hajjYearForm.valid"
      [disabled]="loader.loaderVisible || hajjYearForm.invalid">
      Save
    </button>

    <button
      type="button"
      class="btn-danger btn-sm btn ml-2"
      [class.magnifyText]="!loader.loaderVisible"
      [disabled]="loader.loaderVisible"
      matDialogClose>
      Cancel
    </button>
  </mat-dialog-actions>

  <ng-template #show>
    <div class="row">
      <div class="form-group col-sm-12 col-md-6">
        <label
          [class.text-danger]="year.touched && year.invalid"
          for="year">Hajj Year</label>
        <input
          [class.border-danger]="year.touched && year.invalid"
          formControlName="year"
          type="text"
          class="form-control">

          <div class="text-danger small mt-1" *ngIf="year.touched && year.invalid">
            <div *ngIf="year.errors.required">
              Hajj year is required
            </div>
            <div *ngIf="year.errors.pattern">
              Enter a valid year
            </div>
            <div *ngIf="year.errors.cannotContainSpace">
              Spaces are not allowed
            </div>
            <div *ngIf="year.errors.lessThanCurrentYear">
              Year must not be less than current year
            </div>
          </div>
      </div>

      <div class="form-group col-sm-12 col-md-6">
        <label
          [class.text-danger]="active.invalid && active.touched"
          for="status">Status</label>
        <select
          [class.border-danger]="active.invalid && active.touched"
          formControlName="active"
          id="status" class="form-control">
          <option *ngFor="let a of activeCollection" [value]="a">{{  a? 'Active' : 'Inactive' }}</option>
        </select>

        <div class="text-danger small mt-1" *ngIf="active.touched && active.invalid">
          <div *ngIf="active.errors.required">
            Hajj year status is required
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12 col-md-6">
        <label
          [class.text-danger]="dateOpened.touched && dateOpened.invalid"
          for="dateOpened">Open Date</label>
        <input
          class="form-control"
          [class.border-danger]="dateOpened.touched && dateOpened.invalid"
          formControlName="dateOpened"
          type="date" for="dateOpened">

          <div class="text-danger small mt-1" *ngIf="dateOpened.touched && dateOpened.invalid">
            <div *ngIf="dateOpened.errors.required">
              Date opened is required
            </div>
            <div *ngIf="dateOpened.errors.lessThanToday">
              Date Opened must not be less than today
            </div>
          </div>
      </div>
    </div>

    <div class="row mx-auto my-3 alert alert-info" *ngIf="seatAllocationForms.length < 1">
      <h6>No seats allocated yet, click add seats button to add allocations.</h6>
    </div>

    <div class="row mx-auto mt-3 mb-2 text-info" *ngIf="seatAllocationForms.length > 0">
      <h6>Seat Allocations</h6>
    </div>

    <ng-container *ngFor="let group of seatAllocationForms; let i = index">
      <form [formGroup]="group" class="card shadow-lg p-3 mb-3">
        <div class="mx-auto col-12 row">
          <button type="button" (click)="removeSeatAllocation(i)" class="ml-auto btn btn-sm btn-outline-danger">
            Remove
          </button>
        </div>

        <div class="row">
          <div class="form-group col-sm-12 col-md-6">
            <label
              [class.text-danger]="group.get('zone').invalid && group.get('zone').touched"
              for="zone">Center</label>
            <select
              [class.border-danger]="group.get('zone').invalid && group.get('zone').touched"
              formControlName="zone"
              id="zone" class="form-control"
              (change)="exemptZone(group.get('zone').value, i)">
              <option selected hidden value="">Select center</option>
              <option *ngFor="let z of zones" [value]="z._id" [hidden]="z.exempted">{{ z.name }}</option>
            </select>

            <div class="text-danger small mt-1" *ngIf="group.get('zone').touched && group.get('zone').invalid">
              <div *ngIf="group.get('zone').errors.required">
                Enrollment center is required
              </div>
            </div>
          </div>

          <div class="form-group col-sm-12 col-md-6">
            <label
              [class.text-danger]="group.get('seatsAllocated').touched && group.get('seatsAllocated').invalid"
              for="group.get('seatsAllocated')">Seats</label>
            <input
              [class.border-danger]="group.get('seatsAllocated').touched && group.get('seatsAllocated').invalid"
              formControlName="seatsAllocated"
              type="number"
              class="form-control">

              <div class="text-danger small mt-1" *ngIf="group.get('seatsAllocated').touched && group.get('seatsAllocated').invalid">
                <div *ngIf="group.get('seatsAllocated').errors.required">
                  Seat allocated is required
                </div>
                <div *ngIf="group.get('seatsAllocated').errors.pattern">
                  Enter a valid seat number
                </div>
                <div *ngIf="group.get('seatsAllocated').errors.min">
                  Seat allocation must be atleast {{ group.get('seatsAllocated').errors.min.min }}.
                </div>
              </div>
          </div>
        </div>
      </form>
    </ng-container>

    <div class="mx-auto row">
      <button type="button" (click)="addSeatAllocation()" class="ml-auto btn btn-sm btn-outline-success">
        Add Seat Allocation
      </button>
    </div>
  </ng-template>

  <ng-template #load>
    <app-loader></app-loader>
  </ng-template>
</form>
