<nav class="page-breadcrumb">
    <ol class="breadcrumb" style="font-size: 150%;">
        <li class="breadcrumb-item"><a class="text-primary">Pilgrims</a></li>
        <li class="breadcrumb-item active" aria-current="page">Export Pilgrims</li>
    </ol>
</nav>


<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body" style="overflow-x: auto;">
                <h6 class="card-title">Export Registered Pilgrims to excel</h6>

                <a [href]="url"  target="_blank" class="btn btn-success">Export to Excel</a>
            </div>
        </div>
    </div>
</div>