<form [formGroup]="personalAndOffice">
  <ng-container *ngIf="loader.loaderVisible then load; else showForm"></ng-container>

  <ng-template #load>
    <app-loader></app-loader>
  </ng-template>

  <ng-template #showForm>
    <form [formGroup]="personalDetailsForm">
      <h5>Personal details</h5>
      <hr style="margin-top: 0px;" />

      <div class="row">
        <div class="form-group col-md-6 col-sm-12 mx-auto">
          <label for="surname" [class.text-danger]="surname.touched && surname.invalid">Surname</label>
          <input
            type="text"
            id="surname"
            [class.error-control]="surname.touched && surname.invalid"
            class="form-control form-control-sm"
            formControlName="surname"
            (keyup)="valueChange()">

          <div class="text-danger mt-1" *ngIf="surname.touched && surname.invalid">
            <div *ngIf="surname.errors.required">
              This field is required.
            </div>
            <div *ngIf="surname.errors.minlength">
              Surname must be minimum {{ surname.errors.minlength.requiredLength }} characters.
            </div>
            <div *ngIf="surname.errors.maxlength">
              Surname must be maximum {{ surname.errors.maxlength.requiredLength }} characters.
            </div>
          </div>
        </div>

        <div class="form-group col-md-6 col-sm-12 mx-auto">
          <label for="otherNames" [class.text-danger]="otherNames.touched && otherNames.invalid">Other Names</label>
          <input
            type="text"
            id="otherNames"
            [class.error-control]="otherNames.touched && otherNames.invalid"
            class="form-control form-control-sm"
            formControlName="otherNames"
            (keyup)="valueChange()">

          <div class="text-danger mt-1" *ngIf="otherNames.touched && otherNames.invalid">
            <div *ngIf="otherNames.errors.required">
              This field is required.
            </div>
            <div *ngIf="otherNames.errors.minlength">
              Other names must be minimum {{ otherNames.errors.minlength.requiredLength }} characters.
            </div>
            <div *ngIf="otherNames.errors.maxlength">
              Other names must be maximum {{ otherNames.errors.maxlength.requiredLength }} characters.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 col-sm-12 mx-auto">
          <label for="sex" [class.text-danger]="sex.touched && sex.invalid">Sex</label>
          <select
            class="form-control form-control-sm"
            [class.error-control]="sex.touched && sex.invalid"
            type="text"
            id="sex"
            formControlName="sex"
            (change)="valueChange()">
            <option [value]="null" selected hidden>Select sex</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>

          <div class="text-danger mt-1" *ngIf="sex.touched && sex.invalid">
            <div *ngIf="sex.errors.required">
              Select pilgrim's gender.
            </div>
          </div>
        </div>

        <div class="form-group col-md-6 col-sm-12 mx-auto">
          <label for="maritalStatus" [class.text-danger]="maritalStatus.touched && maritalStatus.invalid">Marital Status</label>
          <select
            class="form-control form-control-sm"
            [class.error-control]="maritalStatus.touched && maritalStatus.invalid"
            type="text"
            id="maritalStatus"
            formControlName="maritalStatus"
            (change)="valueChange()">
            <option [value]="null" selected hidden>Select marital status</option>
            <option *ngFor="let ms of maritalStatuses" [value]="ms">{{ ms | uppercase }}</option>
          </select>

          <div class="text-danger mt-1" *ngIf="maritalStatus.touched && maritalStatus.invalid">
            <div *ngIf="maritalStatus.errors.required">
              Select pilgrim's marital status.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 col-sm-12 mx-auto">
          <label for="stateOfOrigin" [class.text-danger]="stateOfOrigin.touched && stateOfOrigin.invalid">State of Origin</label>
          <select
            class="form-control form-control-sm"
            [class.error-control]="stateOfOrigin.touched && stateOfOrigin.invalid"
            type="text"
            id="stateOfOrigin"
            formControlName="stateOfOrigin"
            (change)="valueChange(true)">
            <option [value]="null" selected hidden>Select state of origin</option>
            <option *ngFor="let s of states" [value]="s._id">{{ s.name }}</option>
          </select>

          <div class="text-danger mt-1" *ngIf="stateOfOrigin.touched && stateOfOrigin.invalid">
            <div *ngIf="stateOfOrigin.errors.required">
              Select pilgrim's state of origin.
            </div>
          </div>
        </div>

        <div class="form-group col-md-6 col-sm-12 mx-auto">
          <ng-container [ngSwitch]="lgLoader">
            <ng-container *ngSwitchCase="true">
              <label></label>
              <div class="d-flex justify-content-center mt-3">
                <div class="spinner-grow spinner-grow-sm mx-2 text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-sm mx-2 text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-sm mx-2 text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-sm mx-2 text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="false">
              <label for="localGovOfOrigin" [hidden]="!showLga" [class.text-danger]="localGovOfOrigin.touched && localGovOfOrigin.invalid">Local Government</label>
              <select
                [hidden]="!showLga"
                class="form-control form-control-sm"
                [class.error-control]="localGovOfOrigin.touched && localGovOfOrigin.invalid"
                type="text"
                id="localGovOfOrigin"
                formControlName="localGovOfOrigin"
                (change)="valueChange()">
                <option [value]="null" selected hidden>Select local government</option>
                <option *ngFor="let lg of lgas" [value]="lg._id">{{ lg.name }}</option>
              </select>

              <div [hidden]="lgas.length < 1" class="text-danger mt-1" *ngIf="localGovOfOrigin.touched && localGovOfOrigin.invalid">
                <div *ngIf="localGovOfOrigin.errors.required">
                  Select pilgrim's marital status.
                </div>
              </div>
            </ng-container>

          </ng-container>
        </div>
      </div>

      <div class="form-group row mx-auto">
        <label for="homeAddress" [class.text-danger]="homeAddress.touched && homeAddress.invalid">Residential Address</label>
        <textarea
          type="text"
          id="homeAddress"
          [class.error-control]="homeAddress.touched && homeAddress.invalid"
          class="form-control form-control-sm"
          formControlName="homeAddress"
          (keyup)="valueChange()"
          rows="3">
        </textarea>

        <div class="text-danger mt-1" *ngIf="homeAddress.touched && homeAddress.invalid">
          <div *ngIf="homeAddress.errors.required">
            This field is required.
          </div>
          <div *ngIf="homeAddress.errors.minlength">
            Address must be minimum {{ homeAddress.errors.minlength.requiredLength }} characters.
          </div>
          <div *ngIf="homeAddress.errors.maxlength">
            Address must be maximum {{ homeAddress.errors.maxlength.requiredLength }} characters.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 col-sm-12 mx-auto">
          <label for="dateOfBirth" [class.text-danger]="dateOfBirth.touched && dateOfBirth.invalid">
            Date of Birth
          </label>
          <input
            type="date"
            id="dateOfBirth"
            [class.error-control]="dateOfBirth.touched && dateOfBirth.invalid"
            class="form-control form-control-sm"
            formControlName="dateOfBirth"
            (change)="valueChange()">

          <div class="text-danger mt-1" *ngIf="dateOfBirth.touched && dateOfBirth.invalid">
            <div *ngIf="dateOfBirth.errors.required">
              Select a valid date.
            </div>
          </div>
        </div>

        <div class="form-group col-md-6 col-sm-12 mx-auto">
          <label for="phone" [class.text-danger]="phone.touched && phone.invalid">
            Phone
          </label>
          <input
            type="text"
            id="phone"
            [class.error-control]="phone.touched && phone.invalid"
            class="form-control form-control-sm"
            formControlName="phone"
            (keyup)="valueChange()">

          <div class="text-danger mt-1" *ngIf="phone.touched && phone.invalid">
            <div *ngIf="phone.errors.required">
              This Field is required
            </div>
            <div *ngIf="phone.errors.minlength">
              Phone must be minimum {{ phone.errors.minlength.requiredLength }} characters.
            </div>
            <div *ngIf="phone.errors.maxlength">
              Phone must be maximum {{ phone.errors.maxlength.requiredLength }} characters.
            </div>
            <div *ngIf="phone.errors.pattern">
              Please enter a valid phone number.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 col-sm-12 mx-auto">
          <label for="alternatePhone" [class.text-danger]="alternatePhone.touched && alternatePhone.invalid">
            Alternate Phone
          </label>
          <input
            type="text"
            id="alternatePhone"
            [class.error-control]="alternatePhone.touched && alternatePhone.invalid"
            class="form-control form-control-sm"
            formControlName="alternatePhone"
            (keyup)="valueChange()">

          <div class="text-danger mt-1" *ngIf="alternatePhone.touched && alternatePhone.invalid">
            <div *ngIf="alternatePhone.errors.pattern">
              Please enter a valid phone number.
            </div>
          </div>
        </div>

        <div class="form-group col-md-6 col-sm-12 mx-auto">
            <label for="email" [class.text-danger]="email.touched && email.invalid">
                Email
              </label>
              <input
                type="email"
                id="email"
                [class.error-control]="email.touched && email.invalid"
                class="form-control form-control-sm"
                formControlName="email"
                (keyup)="valueChange()">
    
              <div class="text-danger mt-1" *ngIf="email.touched && email.invalid">
                <div *ngIf="email.errors.email">
                  Please enter a valid email address.
                </div>
              </div>
        </div>
      </div>
    </form>

    <form [formGroup]="officeDetailsForm">
      <br />
      <h5>Office details</h5>
      <hr style="margin-top: 0px;" />

      <div class="row">
        <div class="form-group col-md-6 col-sm-12 mx-auto">
          <label for="occupation" [class.text-danger]="occupation.touched && occupation.invalid">Occupation</label>
          <input
            type="text"
            id="occupation"
            [class.error-control]="occupation.touched && occupation.invalid"
            class="form-control form-control-sm"
            formControlName="occupation"
            (keyup)="valueChange()">

          <div class="text-danger mt-1" *ngIf="occupation.touched && occupation.invalid">
            <div *ngIf="occupation.errors.required">
              This field is required.
            </div>
            <div *ngIf="occupation.errors.minlength">
              Occupation must be minimum {{ occupation.errors.minlength.requiredLength }} characters.
            </div>
            <div *ngIf="occupation.errors.maxlength">
              Occupation must be maximum {{ occupation.errors.maxlength.requiredLength }} characters.
            </div>
          </div>
        </div>

        <div class="form-group col-md-6 col-sm-12 mx-auto">
          <label for="profession" [class.text-danger]="profession.touched && profession.invalid">Profession</label>
          <input
            type="text"
            id="profession"
            [class.error-control]="profession.touched && profession.invalid"
            class="form-control form-control-sm"
            formControlName="profession"
            (keyup)="valueChange()">

          <div class="text-danger mt-1" *ngIf="profession.touched && profession.invalid">
            <div *ngIf="profession.errors.required">
              This field is required.
            </div>
            <div *ngIf="profession.errors.minlength">
              Profession must be minimum {{ profession.errors.minlength.requiredLength }} characters.
            </div>
            <div *ngIf="profession.errors.maxlength">
              Profession must be maximum {{ profession.errors.maxlength.requiredLength }} characters.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row mx-auto">
        <label for="placeOfWork" [class.text-danger]="placeOfWork.touched && placeOfWork.invalid">Place of Work</label>
        <input
          type="text"
          id="placeOfWork"
          [class.error-control]="placeOfWork.touched && placeOfWork.invalid"
          class="form-control form-control-sm"
          formControlName="placeOfWork"
          (keyup)="valueChange()">

        <div class="text-danger mt-1" *ngIf="placeOfWork.touched && placeOfWork.invalid">
          <div *ngIf="placeOfWork.errors.required">
            This field is required.
          </div>
          <div *ngIf="placeOfWork.errors.minlength">
            Place of work must be minimum {{ placeOfWork.errors.minlength.requiredLength }} characters.
          </div>
          <div *ngIf="placeOfWork.errors.maxlength">
            Place of work must be maximum {{ placeOfWork.errors.maxlength.requiredLength }} characters.
          </div>
        </div>
      </div>

      <div class="form-group row mx-auto">
        <label for="officeAddress" [class.text-danger]="officeAddress.touched && officeAddress.invalid">Office Address</label>
        <textarea
          type="text"
          id="officeAddress"
          [class.error-control]="officeAddress.touched && officeAddress.invalid"
          class="form-control form-control-sm"
          formControlName="officeAddress"
          (keyup)="valueChange()"
          rows="3">
        </textarea>

        <div class="text-danger mt-1" *ngIf="officeAddress.touched && officeAddress.invalid">
          <div *ngIf="officeAddress.errors.required">
            This field is required.
          </div>
          <div *ngIf="officeAddress.errors.minlength">
            Office address must be minimum {{ officeAddress.errors.minlength.requiredLength }} characters.
          </div>
          <div *ngIf="officeAddress.errors.maxlength">
            Office address must be maximum {{ officeAddress.errors.maxlength.requiredLength }} characters.
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</form>
